@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>IsLoggedIn</title>
</head>
<body>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
                <p>You are logged in</p>
        }
        else
        {
                <p>You are not logged in</p>
        }
    </div>
</body>
</html>
